body {
  padding-top: 50px; }

h1 {
  font-family: 'Montserrat', sans-serif; }

.main-container {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center; }

#particles-js {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #192231, #494e6b); }

@media screen and (max-device-width: 767px) {
  .landing-box {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100vh;
    background: url("../assets/st_philips.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-shadow: -2px 10px 18px -6px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: -2px 10px 18px -6px rgba(0, 0, 0, 0.58);
    box-shadow: -2px 10px 18px -6px rgba(0, 0, 0, 0.58); } }

@media screen and (min-device-width: 768px) {
  .landing-box {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)), url("../assets/lightning_bridge.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-shadow: -2px 10px 18px -6px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: -2px 10px 18px -6px rgba(0, 0, 0, 0.58);
    box-shadow: -2px 10px 18px -6px rgba(0, 0, 0, 0.58); } }

.title-box {
  position: absolute;
  width: 100%;
  background-color: rgba(31, 59, 75, 0.3);
  color: white;
  margin: 6% auto auto;
  padding-left: 5%; }

@media screen and (max-device-width: 767px) {
  .geoff-pic {
    margin: 0;
    padding: 0; }
    .geoff-pic img {
      display: inline-block;
      max-width: 65%;
      max-height: 65%;
      vertical-align: middle;
      margin: 70px 5% 5%;
      border-radius: 100%;
      -webkit-box-shadow: 0 0 53px -6px rgba(0, 0, 0, 0.88);
      -moz-box-shadow: 0 0 53px -6px rgba(0, 0, 0, 0.88);
      box-shadow: 0 0 53px -6px rgba(0, 0, 0, 0.88); }
    .geoff-pic .first-name {
      display: none; }
    .geoff-pic .last-name {
      display: none; } }

@media screen and (min-device-width: 768px) {
  .geoff-pic {
    margin: auto 5% auto auto;
    padding: 0; }
    .geoff-pic img {
      display: inline-block;
      max-width: 20%;
      max-height: 20%;
      vertical-align: middle;
      margin: 60px 3% 3%;
      border-radius: 100%;
      -webkit-box-shadow: 0 0 53px -6px rgba(0, 0, 0, 0.88);
      -moz-box-shadow: 0 0 53px -6px rgba(0, 0, 0, 0.88);
      box-shadow: 0 0 53px -6px rgba(0, 0, 0, 0.88); }
    .geoff-pic .first-name {
      display: inline-block;
      vertical-align: middle; }
      .geoff-pic .first-name h1 {
        color: white;
        font-size: 10em;
        text-shadow: 4px 2px 5px black;
        margin: auto; }
    .geoff-pic .last-name {
      display: inline-block;
      vertical-align: middle; }
      .geoff-pic .last-name h1 {
        color: white;
        font-size: 10em;
        text-shadow: 4px 2px 5px black;
        margin: auto; } }

@media screen and (min-device-width: 768px) {
  .personal-info {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0; } }

@media screen and (max-device-width: 767px) {
  .personal-info {
    width: 100%;
    padding: 0;
    margin: auto; } }

.geoff-info {
  background-color: rgba(152, 135, 143, 0.75);
  color: white;
  width: 90%;
  margin: 5%;
  padding: 3%;
  margin-bottom: 5%;
  border-radius: 5px;
  font-size: 2rem;
  -webkit-box-shadow: 9px 13px 25px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 13px 25px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 13px 25px -8px rgba(0, 0, 0, 0.75); }

.interests {
  background-color: rgba(152, 135, 143, 0.75);
  color: white;
  border-radius: 5px;
  width: 90%;
  margin: 5%;
  padding: 3%;
  margin-bottom: 5%;
  -webkit-box-shadow: 9px 13px 25px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 13px 25px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 13px 25px -8px rgba(0, 0, 0, 0.75); }
  .interests h1 {
    margin-bottom: 8%; }

@media screen and (max-device-width: 767px) {
  .hobby {
    display: inline-block;
    width: 100%;
    background-color: #985e6d;
    margin: 1%;
    padding: 1%;
    border-radius: 5px; }
    .hobby img {
      max-width: 20%; } }

@media screen and (min-device-width: 768px) {
  .hobby {
    display: inline-block;
    width: 40%;
    background-color: #985e6d;
    padding: 3%;
    margin: 1% 1.5%;
    border-radius: 5px;
    transition: 0.5s; }
    .hobby img {
      max-width: 65%; }
    .hobby:hover {
      transform: scale(1.1); } }

#camera {
  transition: 0.5s; }
  #camera:hover {
    background: url("../assets/lightning_bridge.jpg");
    background-size: cover;
    background-position: center;
    transition: 0.5s; }

#drone {
  transition: 0.5s; }
  #drone:hover {
    background: url("../assets/2ndpres_screen.png");
    background-size: cover;
    background-position: center; }

#theatre {
  transition: 0.5s; }
  #theatre:hover {
    background: url("../assets/jimmy.jpg");
    background-size: cover;
    background-position: center; }

#travel {
  transition: 0.5s; }
  #travel:hover {
    background: url("../assets/tajmahal_w_lauren.jpg");
    background-size: cover;
    background-position: center; }

.hobby-container {
  display: inline-block;
  width: 100%; }

.hobby-window {
  background-color: rgba(152, 135, 143, 0.75);
  width: 95%;
  height: 300px;
  margin: 5% auto;
  padding: 2%;
  border-radius: 5px; }
  .hobby-window h1 {
    color: white; }

#close-hobby {
  background-color: #985e6d; }

.projects-container {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0; }

.projects {
  background-color: rgba(152, 135, 143, 0.75);
  width: 97%;
  margin: 5% auto;
  padding: 2%;
  border-radius: 5px;
  -webkit-box-shadow: 9px 13px 25px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 13px 25px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 13px 25px -8px rgba(0, 0, 0, 0.75); }
  .projects h1 {
    margin-bottom: 2%;
    color: white;
    font-size: 5rem; }

.panel-heading {
  padding: 0; }

.panel-title {
  background-color: #985e6d;
  padding: 10px;
  font-size: 2.5rem; }

.panel-body {
  background-color: #985e6d; }

@media screen and (max-device-width: 767px) {
  .panel-body img {
    display: block;
    max-width: 75%;
    margin: auto auto 2%;
    border-radius: 5px;
    -webkit-box-shadow: 13px 13px 31px -9px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 13px 13px 31px -9px rgba(0, 0, 0, 0.58);
    box-shadow: 13px 13px 31px -9px rgba(0, 0, 0, 0.58);
    transition: 0.5s; }
    .panel-body img:hover {
      transform: scale(0.95); }
  .panel-body p {
    margin: 5%; } }

@media screen and (min-device-width: 768px) {
  .panel-body img {
    border-radius: 5px;
    max-width: 45%;
    margin: 2%;
    float: left;
    -webkit-box-shadow: 13px 13px 31px -9px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 13px 13px 31px -9px rgba(0, 0, 0, 0.58);
    box-shadow: 13px 13px 31px -9px rgba(0, 0, 0, 0.58);
    transition: 0.5s; }
    .panel-body img:hover {
      transform: scale(1.05); }
  .panel-body p {
    font-size: 1.5em;
    margin: 2%; } }

.project-links {
  display: inline-block;
  background-color: #985e6d;
  padding: 1%;
  border-radius: 5px;
  transition: 0.5s; }
  .project-links .fa {
    display: inline-block;
    font-size: 7rem; }
  .project-links h3 {
    display: inline-block; }
  .project-links a {
    text-decoration: none;
    transition: 0.5s;
    color: #333333; }
  .project-links:hover {
    transform: scale(1.1); }

@media screen and (max-device-width: 767px) {
  .contact-container {
    width: 100%;
    padding: 3%; }
  .contact-box {
    display: inline-block;
    width: 90%;
    background-color: #985e6d;
    margin: 2% auto;
    border-radius: 5px;
    padding: 2%; }
    .contact-box .fa {
      display: inline-block;
      color: #333333;
      font-size: 10rem;
      transition: 0.4s; }
    .contact-box p {
      text-align: center;
      color: #333333;
      font-size: 2rem;
      font-family: 'Montserrat', sans-serif; } }

@media screen and (min-device-width: 768px) {
  .contact-container {
    display: flex;
    width: 100%;
    padding: 3%; }
  .contact-box {
    display: inline-block;
    width: 90%;
    background-color: #985e6d;
    margin: 2% auto;
    border-radius: 5px;
    padding: 2%; }
    .contact-box .fa {
      display: inline-block;
      color: #333333;
      font-size: 10rem;
      transition: 0.4s; }
    .contact-box p {
      position: absolute;
      opacity: 0;
      margin-left: 2%;
      margin-top: -10%;
      color: #333333;
      font-size: 2.5rem;
      font-family: 'Montserrat', sans-serif;
      transition: 0.5s; }
    .contact-box:hover {
      transition: 0.5s; }
      .contact-box:hover p {
        opacity: 1;
        font-size: 3rem; }
      .contact-box:hover .fa {
        margin-left: 50%;
        transform: scale(0.75); } }

.contact-form {
  color: white;
  background-color: rgba(152, 135, 143, 0.75);
  margin-bottom: 3%;
  margin-right: 5%;
  border-radius: 5px;
  -webkit-box-shadow: 9px 13px 25px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 13px 25px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 13px 25px -8px rgba(0, 0, 0, 0.75); }

.social-media {
  color: white;
  background-color: rgba(152, 135, 143, 0.75);
  float: right;
  border-radius: 5px;
  margin-bottom: 3%;
  margin-left: 2%;
  -webkit-box-shadow: 9px 13px 25px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 13px 25px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 13px 25px -8px rgba(0, 0, 0, 0.75); }

@media screen and (max-device-width: 767px) {
  .social-buttons {
    display: inline-block;
    width: 90%;
    background-color: #985e6d;
    margin: 2% auto;
    border-radius: 5px;
    padding: 2%; }
    .social-buttons .fa {
      text-align: left;
      font-size: 10rem;
      margin: 1.5%;
      color: #333333; }
    .social-buttons p {
      text-align: center;
      color: #333333;
      font-size: 2rem;
      font-family: 'Montserrat', sans-serif; }
    .social-buttons #cw-logo {
      width: 8rem;
      margin: 2%; }
    .social-buttons #cw-badge {
      display: none;
      width: 90%;
      margin: 2%; } }

@media screen and (min-device-width: 768px) {
  .social-buttons {
    display: inline-block;
    width: 90%;
    background-color: #985e6d;
    margin: 3% auto;
    padding: 4%;
    border-radius: 5px;
    transition: 0.5s; }
    .social-buttons .fa {
      display: inline-block;
      color: #333333;
      font-size: 10rem;
      transition: 0.4s; }
    .social-buttons p {
      position: absolute;
      opacity: 0;
      margin-left: 2%;
      margin-top: -20%;
      text-align: center;
      color: #333333;
      font-size: 3.5rem;
      font-family: 'Montserrat', sans-serif;
      transition: 0.5s; }
    .social-buttons #cw-logo {
      color: #333333;
      width: 8.5rem;
      margin: 2.5%;
      transition: 0.4s; }
    .social-buttons #cw-badge {
      width: 90%;
      margin: 2%; }
    .social-buttons:hover {
      transition: 0.5s; }
      .social-buttons:hover p {
        opacity: 1;
        font-size: 4rem; }
      .social-buttons:hover .fa {
        margin-left: 65%;
        transform: scale(0.5); }
      .social-buttons:hover #cw-logo {
        margin-left: 79%;
        transform: scale(0.5); } }
